[submodule "insurance_calculator_backend"]
	path = insurance_calculator_backend
	url = https://github.com/Sam543123/insurance_calculator_backend.git
	branch = develop
[submodule "insurance_calculator_frontend"]
	path = insurance_calculator_frontend
	url = https://github.com/Sam543123/insurance_calculator_frontend.git
	branch = develop
